/*
*{
    margin: 0;
    padding: 0;
}
main{
    background-image: url(../multimedia/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    background-color:#b08e6b;
    color: #f5e1ce;
    height: 80px;
}
.texto-nav{
    font-size: 32px;

}
.titulo1 {
    text-align: center;
    color: rgb(199, 110, 110);
    height: 80px;
}
.texto1{
    margin: 20px;
    font-size: 32px;
    text-align: center;
    color: rgb(199, 110, 110);
    height: 80px;
    
}
.elec-comunas{
    text-align: center;
    color: rgb(199, 110, 110);
    height: 80px;
    height: 150px; 
}
#comunas{
    list-style: none;
}
.comentario3   {
    text-align: center;
    font-size: 28px;
    color: rgb(199, 110, 110);
    height: 100px;
    align-content: center;
}
h4{
    color:rgb(199, 110, 110) ;
    margin-left: 50px;
}
.btn{
   background-color: rgb(199, 110, 110) ;
   width: 90px;
   margin:30px 0 50px 100px;
}
footer{
    background-color:rgb(199, 110, 110);
    color: white;
    height: 80px;
}
.Redes{
    font-size: 30px;
    margin-left: 40px ;
}
.iconos{
    display: flex;
    justify-content:space-around;
    
}

/*--ediciones del carrito de js-- */

/*---Empezando desde 0 ---*/
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');

*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #bf9780;
}
.carro{
    width: 1000px;
    margin-left: 200px;
    margin-top: 100px;
    background-color: #bf9780;
}
.producto-carro{
    display: flex;
    align-items: center;
    
}
.contenido-carro{
    margin: 20px;
    width: 90px;
    width: 180px;
}
.img-carro{
    height: 70px;
    width: 70px;

}
.btn{
    background-color: #f5e1ce;
}