
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');

*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #bf9780;
    font-family:Tahoma, sans-serif;
}
.card{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.totalCompra{
    
    text-align: center;
}
.card img{
    width: 80%;
    margin-top: 10px;
}
.card-img-top{
    border-radius: 15px;
    box-shadow: 1px 3px 10px #fc05be ;
}
.carro{
    width: 1000px;
    margin-left: 200px;
    margin-top: 100px;
    background-color: #d8af97;
}
.producto-carro{
    display: flex;
    align-items: center;
    margin: 15px;
    
}
.contenido-carro{
    margin: 20px;
    width: 90px;
    width: 180px;
}
.img-carro{
    height: 70px;
    width: 70px;
    border-radius: 15px;
}
.btn{
    background-color: #f5e1ce;
    transition: 500ms; 
}
.btn:hover{
    transform: scale(1.2);
}
main{
    background-image: url(../multimedia/Fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.titulo1 {
    margin-top: 15vh;
    text-align: center;
    color: rgb(199, 110, 110);
    height: 80px;
    font-family:'Gill Sans';
}
.elec-comunas{
    text-align: center;
    color: rgb(199, 110, 110);
    height: 80px;
    height: 150px; 
}
#comunas{
    list-style: none;
}
h4{
    color:rgb(199, 110, 110) ;
    margin-left: 50px;
}
footer{
    background-color:#bf9780;
    color: white;
    height: 80px;
}
.Redes{
    font-size: 30px;
    margin-left: 40px ;
}
.iconos{
    display: flex;
    justify-content:space-around;
}
.masOpciones{
    height: 150px;
}
.btn-extra{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.boton-extra{
    background-color:#bf9780 ;
}
.compra-concretada{
    display: inline-block;
    justify-content: center;
    height: 100px;
    text-align: center;
}
.texto-compra{
        text-align: center;
        width: 90%;
        margin-left: 15%;
        
}
#finalizandoCompra{
    height: 50px;
    margin-top: 50px;
    text-align: center;
    font-size: 24px;
    color: rgb(199, 110, 110);
}
.btn-formu{
    margin-left: 500px;
    margin-bottom: 100px;
}
.formu{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  padding: .5rem;
  width: 80%;
}
.despacho{
    width: 600px;
    height: 200px;
    text-align: center;
    margin-left:400px;
    font-size: 24px;
    
}
.tabla{
        width: 1000px;
        margin-left: 200px;
        margin-top: 100px;
        background-color: #d8af97;
        text-align: center;

}
.tablaDespacho{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
#finalizar{
    margin: 20px;
    transition: 500ms;
    
}
#finalizar:hover{
    transform: scale(1.2);
}
.mensaje-Despedida{
    display: flex;
    justify-content: center;
    font-size: 3rem;
}